
/* Diferencia entre cadena descendente y todoslos hijos */

.selectorCadenadescendente h2{ /*En este caso la cadena descendente lo que haces es aplicar el estilo a todos los h2 que contiene la propia sección*/
    background-color: blue;
    height: 100px;
}

.selectorTodosloshijos>div>h2{ /*Con el selector de todos los hijos, solo aquellos elementos contenidos dentro del contenedor indicado, en este caso, dentro de la seccion, y a la vez, solo los div que contengan inmediatamente un h2*/
    background-color: blue;
    height: 100px;
}

/*Diferencia entre padding y margin*/
.padding{
    background-color: yellow;
    height: 200px;
    padding: 50px;
}
.margin{
    background-color: yellow;
    height: 200px;
    margin: 50px;
}
/* body{
    background-color: red;
} */

.displayBlock p{
    background-color: aqua;
}
.displayBlock a{
    background-color: rgb(125, 142, 33);
}
.displayBlock h1{
    background-color: rgb(255, 0, 247);
}
.displayBlock h3{
    background-color: rgb(0, 255, 55);
}
.displayBlock h6{
    background-color: rgb(255, 85, 0);
}
/*DISPLAY ALTERADO*/

.displayBlock1 p{
    background-color: aqua;
    display:inline
}
.displayBlock1 a{
    background-color: rgb(125, 142, 33);
    display: block;
}
.displayBlock1 h1{
    background-color: rgb(255, 0, 247);
    display:inline
}
.displayBlock1 h3{
    background-color: rgb(0, 255, 55);
    display:inline
}
.displayBlock1 h6{
    background-color: rgb(255, 85, 0);
    display:inline
}
.displayBlock1>div{ /*Aunque estemos cambiando la naturaleza del parrafo, como el div tiene una naturaleza en block, para que nos haga caso, tenemos que cambiar también la naturaleza del div*/
    background-color: rgb(59, 69, 0);
    display:inline
}
/* <!-- UTILIZAR EL JUSTIFY-CONTENT Y ALIGN ITEMS --> */
.FlexDirectionRow{
    height: 300px;
    width: 300px;
    background-color: green;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    
}

.FlexDirectionColumn{
    height: 300px;
    width: 300px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    
}

.ejercicioaquari{

    height: 500px;
    text-align: center;
    border: 2px solid;
}

@media (max-width:350px) {

    .ejercicioaquari { background-color: green;}
}
@media (max-width:616px) and (min-width: 350px) {

    .ejercicioaquari { background-color: red;}
}@media (max-width:933px) and (min-width: 616px)  {

    .ejercicioaquari { background-color: blue;}
}@media (max-width:1131px)and (min-width: 933px) {

    .ejercicioaquari { background-color: yellow;}
}

/*EJERCICIO CON RELATIVE Y ABSOLUTE*/
.ejercicioAR{
    height: 500px;
    background-color: blue;
    position: relative;
    /* background-image: linear-gradient(to top, red 0%, blue 50%); */
    background: rgba(235,233,249,1);
background: -moz-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 28%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(28%, rgba(216,208,239,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
background: -webkit-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 28%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
background: -o-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 28%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 28%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
background: linear-gradient(135deg, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 28%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
}
.ejercicioAR div{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    bottom: 300px;
    right: 300px;
    -webkit-box-shadow: 24px -31px 27px 0px rgba(0,0,0,0.54);
-moz-box-shadow: 24px -31px 27px 0px rgba(0,0,0,0.54);
box-shadow: 24px -31px 27px 0px rgba(0,0,0,0.54);

}