:root{
    --colorNegro:#1e1f22;
    --colorDorado: #dac687;
    --colorOcre: #924225;
    --colorBlanco: #ede2da;
    --fuentePrincipal:'Cinzel Decorative', serif;
    --fuenteSecundaria: 'Raleway', sans-serif;
 
 /*Buscar fuentes que nos gusten*/
 }
 html{
     font-size: 62.5%;
 }
 
 body{
     background-color: var(--colorNegro);
     color: var(--colorDorado);
     font-size: 16px;
 }
 
 
 .contenedor {
     max-width: 75%;
     margin: 0 auto;
 }


 /* ESTILO DEL ICONO DE LA FLECHA QUE SCROLLEA */
#scrolltotop {
    position: fixed;
    bottom: 20px;
    /* Ajusta la posición vertical */
    right: 20px;
    /* Ajusta la posición horizontal */
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
}

#scrolltotoplink {
    display: block;
    padding: 10px;
    background-color: var(--colorDorado);
    color: var(--colorBlanco);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

#scrolltotoplink:hover {
    background-color: var(--colorOcre);
}


 /*ESTILO DEL NAVEGADOR-HEADER*/
 

.navegador{
    
    background-color: #1e1f22;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    /* margin-top: 40px; */
    margin-bottom: 80px;
}

.carta {
    display: flex;
    gap: 100px;
    align-items: center;
}

.carta a{
    color: var(--colorBlanco);
    font-family: var(--fuentePrincipal);
    text-decoration: none;
}

.navegador img {
    height: 120px;
    width: 120px;
}

.horario{
    display: flex;
    gap: 100px;
    align-items: center;
   
}

.horario a{
    font-family: var(--fuentePrincipal);
    color: var(--colorBlanco);
    text-decoration: none;
}

.iniciarSesion{
    display: flex;
    gap: 100px;
    align-items: center;
   
}

.iniciarSesion a{
    font-family: var(--fuentePrincipal);
    color: var(--colorBlanco);
    text-decoration: none;
}

.registrarse{
    display: flex;
    gap: 100px;
    align-items: center;
   
}

.registrarse a{
    font-family: var(--fuentePrincipal);
    color: var(--colorBlanco);
    text-decoration: none;
}

/* CARRITO */

/* Estilos específicos para el carrito según el diseño de tu página */

#carrito {
    background-color: var(--colorBlanco);
    border: 1px solid var(--colorDorado);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #lista-carrito {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #lista-carrito th, #lista-carrito td {
    border: 1px solid var(--colorDorado);
    padding: 10px;
    text-align: left;
  }
  
  #lista-carrito th {
    background-color: var(--colorDorado);
    color: var(--colorBlanco);
  }
  
  .btn-2, .borrar-producto {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    text-decoration: none;
    color: var(--colorBlanco);
    background-color: var(--colorDorado);
    border: 1px solid var(--colorDorado);
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .btn-2:hover, .borrar-producto:hover {
    background-color: darken(var(--colorDorado), 10%); /* Puedes ajustar este porcentaje según tu preferencia */
  }
  
  


/* ESTILOS CATEGORIAS  */

.seccionCategorias{
    display: flex;
}

.categoriasIzq a{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--fuenteSecundaria);
    color: var(--colorDorado);
    text-decoration: none;
}

.categoriasIzq a:hover{
    color: var(--colorOcre);
}

.categoriasDer{
    margin-left: 50px;
 
}

.categoriasDer h2{
    font-family: var(--fuentePrincipal);

}

.categoriasDer>div{
    display: flex;
    flex-direction: column;
    

}

.categoriasDer h3{
    text-transform: uppercase;
    display: inline;
}

.categoriasDer a{
    background-color:white;
    color: var(--colorDorado);
    border: 6px solid var(--colorDorado);
    padding: 14px 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
    font-size: 1.4rem;
    display: inline-block;
}

.categoriasDer a:hover{
    color: var(--colorOcre);
    background-color: var(--colorDorado);
}

.categoriasDer .descripcionPlatos{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    justify-content: center;
}


.categoriasDer img{
    height: 20%;
    width: 25%;
    border-radius: 0.55rem;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
.platos>div{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: var(--colorOcre);
}

.bebidas{
    text-align: center;

}

.bebidas img{
    height: 30%;
}

.imgTartaCoco img{
    height: 250px;
    width: 480px;
    
}
/* .mariscos>div{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: var(--colorOcre);
} */






/* ESTILO HORARIOS */
.contenedorHorario{
    background-color:var(--colorOcre);
    padding-top: 30px;
    padding-bottom: 30px;
}
.contenedorHorario>div>h2{
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: var(--colorNegro);

}
.diasHoras{
    display: flex;
    justify-content: space-around;
    font-family: var(--fuenteSecundaria);
    color:var(--colorNegro);
}
.horaFestivo{
    text-align: center;
}


/* ESTILO FOOTER */

/* ESTILO LOCALIZACIONES */
.iconoLocalizacion{
    display: flex;
    justify-content: left;
    align-items: center;
 
}
#localizaciones{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--fuenteSecundaria);
    
}
.calles{
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    font-family: var(--fuenteSecundaria);
    
}

.chamberi:hover, .lavapies:hover, .malasaña:hover{
    color: var(--colorOcre);
    text-decoration: underline;
}





/* ESTILO RRSS Y CONTACTOS */
    /* ESTILO DE LA BARRA SUPERIOR DEL CONTENEDOR */ 


.rrss{
    border-top: 5px ridge var(--colorOcre);
    /* height: 200px; */
    margin-bottom: 30px;
    

}
    /* DIVISION DEL CONTENEDOR PARA POSTERIORMENTE PONER LOS APARTADOS */
.contenedorRRSS{
    display: grid;
    grid: repeat(4,1fr)/repeat(2,1fr);
    
    
}
    /* COLOCACION DE EL APARTADO DE CONTACTO */
.contenedorRRSS h2{
    font-family: var(--fuenteSecundaria);
    color:var(--colorDorado); 
    text-transform: uppercase;
    font-size: 25px;
}

/* ESTILO DE LOS TELEFONOS Y EL EMAIL */
.contenedorRRSS>a{
    color:var(--colorDorado);
    text-decoration: none;
    font-family: var(--fuenteSecundaria);
    font-size:25px;
    font-weight: 600px;
    display:flex;
    justify-content: left;
}
.tlf1{
    grid-row: 2/5;
    grid-column: 1/2;
}
.tlf2{
    grid-row: 3/5;
    grid-column: 1/2;
}
.tlf3{
    grid-row: 4/5;
    grid-column: 1/2;
}
.email{
    grid-row: 5/5;
    grid-column: 1/2;
}
    /* COLOCACION DEL APARTADO DE RRSS Y ESTILO*/
.contenedorRRSS h3{
    display: flex;
    justify-content: right;
    align-items: center;
    grid-column: 2/2;
    grid-row: 2/3;
    padding-right: 77px;
    font-size: 25px;
    color:var(--colorDorado);
    font-family: var(--fuenteSecundaria);
    text-transform: uppercase;
}
.tlf1:hover, .tlf2:hover, .tlf3:hover, .email:hover{
    color:var(--colorOcre);
    text-decoration: underline;
}
    /* COLOCACIÓN DE LOS ICONOS DE LAS RRSS */
.iconos{
    display: flex;
    justify-content: right;
    align-items: center;
    grid-row: 3/4;
    grid-column: 2/2;
}
        /* ESTILO DE LOS ICONOS */
.iconos a{
    color: var(--colorDorado);
    padding:10px
}


/* ESTILO DEL ICONO DE TLF QUE POPEA UN FORMULARIO */
#toform {
    position: fixed;
    bottom: 50%;
    /* Ajusta la posición vertical */
    right: 20px;
    /* Ajusta la posición horizontal */
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
}

.popupform {
    display: block;
    padding: 10px;
    background-color: var(--colorDorado);
    color: var(--colorNegro);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.popupform:hover {
    background-color: var(--colorOcre);
    color: var(--colorBlanco)
}


/* ESTILO DEL POP-UP */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ESTILO DEL CONTENEDOR DEL POP-UP */
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--colorBlanco);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: var(--fuenteSecundaria);
    width: 500px;

}

/* ESTILO DE LA CRUZ PARA CERRAR */
.close-popup {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

/* ESTILO DEL FORMULARIO */

.formEntero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    font-family: var(--fuentePrincipal);
    font-weight: 500;

}

input {
    display: block;
    width: 300px;
    font-family: var(--fuenteSecundaria);
}

form legend {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--colorOcre);

}

/* RESPONSIVE ICONO TLF */
@media (min-width:1140px) {
    #toform {
        bottom: 40%;
        /* Ajusta la posición vertical */
        right: 20px;
        /* Ajusta la posición horizontal */
        z-index: 1000;
        /* Asegura que esté por encima de otros elementos */
    }
}