:root{/*Creación de variables para utilizarlas en CSS*/
    --colorPrimario: rgb(247 102 102);
    --colorSecundario: rgba(248, 102, 102, 0.65);
    --fuentePrincipal: 'Open Sans', sans-serif;
    --fuenteBotones: "DinBold", sans-serif;


}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    /* Con este código, te permite conseguir 10px=1rem */
     font-family: var(--fuentePrincipal);
     background-color: red;
}

.contenedor{ /*Con este código código conseguimos que todas las secciones donde pongamos esta clase, se agruparán para que esté todo alineado*/
    max-width: 75%;
    margin: 0 auto;
}
/*Ajuste del contenedor a los diferentes tipos de pantallas, en este caso hemos cogido como referencia para pc, tablet y movil.
PONEMOS SIEMPRE LAS MEDIAQUAREYS DESPUÉS DE LA CLASE GENÉRICA*/
@media (min-width:1140px) { /*Este es el estilo para pc*/
    .contenedor {
        max-width: 88%;
        /* margin-top:0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
        /* margin: 0 auto 0 auto; */
        margin: 0 auto;
    }
}

@media (max-width:1140px) and (min-width:768px) {/*El estilo para tablet, que lo hacemos con un condicional and*/
    .contenedor{
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width:768px) {/*Y el estilo para móviles*/
    .contenedor{
        max-width: 90%;
        margin: 0 auto;
    }
}

/*ESTILOS PARA EL MAIN*/
.fondoMain{
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;/*Para que la imagen ocupe todo el espacio*/
    background-position: top left;
    padding: 80px 0 180px 0;
}
.margenDerecho{
    margin-right: 45%;
}
/*Las mediaquareys se ponen debajo de los selectores generales*/
@media (max-width:1140px){
    .margenDerecho{
        margin-right: 0;
    }
}

h1{
    background-color: var(--colorSecundario);
    font-family: sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    margin-bottom: 10px;
    padding: 35px;
    color: white
}
/* h1::after{ Pseudoelementos
    content:"Texto con pseudoelementos";
} */
.fondoMain a{
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 24px 94px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuenteBotones);
    font-weight: 700;
    font-size: 1.4rem;
}
/*Esta mediaquarey la hacemos para que la letra VER CURSOS este en una sola linea, solo para la vista de móvil*/
@media(max-width:768px){
    .fondoMain a{
        padding: 24px 70px;
    }
}

/*Hemos hecho un contenedor con la imagen y el enlace, lo hemos alineado con flex, que por default lo hace en row, y luego le hemos dicho que le de un espacio entre medias*/
.flexMain{
    display:flex;
    flex-direction: row;/*Por defecto ya es row*/
    justify-content: space-between;
}
.flexMain a:hover{
    background-color: white;
    border-color: var(--colorPrimario);
    color: var(--colorPrimario);

}
/*Este estilo se pone para que en la visualización de móvil haya un pequeño hueco entre la imagen y el botón*/
.flexMain img{
    margin-right: 10px;
}

/*ESTILO DE LOS LOGOS*/
.logos{
    background-color: white;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: -90px;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width:1140px) and (min-width:768px){
    [src="img/Logos-oficiales.png"]{
        max-width: 70%;
    }

    [src="img/Logo-Adecco.png"]{
        max-width: 30%;
    }
}
@media (max-width:768px){
    .logos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logos img{
        max-width: 90%;
        padding:20px
    }
}
/*ESTILO CURSOS*/

.cambiaFuturo h3{
    text-align: center;
    color: var(--colorPrimario);
    font-weight: 800;
    font-family: var(--fuentePrincipal);
    font-size: 1.7rem;
    margin: 40px 0px
}
.cambiaFuturo h2{
    text-align: center;
    font-weight: 800;
    font-size: 2.7rem;
    text-transform: uppercase;
    color: #02052F;
    font-family: var(--fuentePrincipal);
    margin-bottom: 72px;

}
.alinearCentro {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 105px; 
}
.verTodo{
    background-color: var(--colorPrimario);
    border: 1px solid var(--colorPrimario);
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 0.5rem;
    padding: 12px 24px;
}
.Madrid{
    border: 1px solid var(--colorPrimario);
    background-color: white;
    color:#02052F;
    padding: 12px 24px;
    font-size: 1.4rem;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    margin-left: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;  
}
.cursosOfertados{
    margin-bottom: 120px;
    display: flex;
}
.cursosOfertados>div{
    flex: 2;
    max-width: 50%;
    background-position: right !important;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;/*Le estamos dando una altura minima, si tenemos mas espacio, cogerá más, pero sino, no bajará*/
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.cursosOfertados h2{
    color:white;
    font-family: var(--fuentePrincipal);
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;    
}
.cursosOfertados a{
    color:var(--colorPrimario);
    font-size: 1.4rem;
    font-family: var(--fuenteBotones);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid white;
    padding: 20px 60px;
    display: inline-block;
}
.cursosOfertados a:hover{
    background-color: var(--colorPrimario);
    color: white;
}
.marketing{
    background-image: url(../img/Curso-marketing-digital-centro.png);
    margin-right: 15px;  
}
.programacion{
    background-image: url(../img/Curso-programacion-videojuegos-centro.png);
    margin-left: 15px;
}
/*RESTRICCION PARA TABLET PARA VER LOS CURSOS ALINEADOS*/
@media (max-width:1140px){
    .cursosOfertados>div{
        padding:30px 30px;    
    }
}
/*RESTRICCION PARA MOVIL PARA PONER UN CURSO DEBAJO DEL OTRO, Y ADEMÁS APLICARLE MARGENES PARA QUE QUEDEN ALINEADOS DEBIDO AL MARGEN QUE LE HEMOS DADO MAS ARRIBA PARA CREAR UN HUECO*/
 @media(max-width:768px){
    .cursosOfertados{
        flex-direction: column;
        justify-content: center;
        /* align-items: center; Le quitamos esa propiedad porque el titulo de marketing es mas pequeño y hace que el cuadrado sea mas chiko*/ 
    }
    .cursosOfertados>div{
        /* margin-right: 0;
        margin-left: 0;
        margin-bottom: 15px;
        margin-top:15px; */
        max-width:100%;
        margin: 15px 0px 15px 0px
    }
} 

/* ESTILO ACCESO RÁPIDO A CUESTIONARIO*/
.info{
    /* text-align: center; No es bueno poner esto aquí, porque a un contenedor, le estamos dando una propiedad de un texto */
    padding-bottom: 150px;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    padding-right: 15px;
    padding-left: 15px;
}
.info h3{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;
    color: #02052F;
    line-height: 1.2;
    margin:17px;

}
.info a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--colorPrimario);
    color: white;
    padding: 20px 40px;
    border-radius: 96px;
    margin: 20px;
    box-sizing: border-box;
    line-height: 1.5;
}
.info a:hover{ /*Solo pondremos las propiedades que varían cuando ponemos el raton encima del boton*/
    background-color:#02052F;
    text-decoration: underline;
}
.info{
    display: flex;
    flex-direction: column;
    Justify-content: center;
    align-items: center;
}
/*ESTILO VIDEO*/
.video{
    display:flex;
    justify-content: center;
    margin-bottom: 70px;
    padding-right: 15px;
    padding-left: 15px;
       
}
@media(max-width:1140px){
    .video iframe{
        width:100%;
        height:350px;
    }
} 
 @media(max-width:768px){
    .video iframe{
        width:100%;
        height:200px;
    }
} 
 /*ESTILO DE SECCION ESCRITA, INFOGRAFÍA E IMAGEN INFORMATIVA*/
/* ESTILO DE LA PARTE IZQUIERDA */
.contenedorInfografia{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    color:#02052F;
    font-family: var(--fuentePrincipal);
    margin-bottom:100px;
    display: flex;
    justify-content: space-between;

}
@media(max-width:1140px){
    .contenedorInfografia{
        flex-direction: column;
    }
}
.contenedorInfografia>div{
    flex: 1;
    max-width: 50%;   
}
@media(max-width:1140px){
    .contenedorInfografia>div{
        flex:1;
        max-width: 100%;
    }
}
.contenedorInfografia span{ /*Ponemos span cuando queremos destacar algo en concreto de una manera en concreto. Debe ponerse primero en el archivo HTML*/
    font-weight: 800;  
}
.contenedorTexto{
    display: inline-block;
}
.contenedorTexto h3{
    color:var(--colorPrimario);
    text-align: left;
    font-size: 1.7rem;
    margin-bottom: 22px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
}
.contenedorTexto h2{
    color:#02052F;
    font-size: 2.7rem;
    margin-bottom: 22px;
    font-weight: 800;
    line-height: 1.2;
}
.infoescrita{
    font-size: 1.4rem;
    margin-bottom: 25px;
    font-weight: 400;
    line-height: 1.5;
    color:#02052F;
    font-family: var(--fuentePrincipal);
}
.contenedorTexto h4{
    margin-bottom: 10px;
    font-size: 1.5rem;
    margin-bottom: 22px;
    line-height: 1.8;
    font-weight: 800;
    text-transform: uppercase;
}

.garantiajuvenillink a{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 50px;
    text-decoration: underline;
    color:var(--colorPrimario);
    text-transform: uppercase;
    display: inline-block;
    
}
.descargarInfografia{
    font-size: 1.4rem;
    margin-bottom: 25px;
    font-weight: 800;
    line-height: 1.5;
}

.botondescargainfografia{
    background: #F76666;
    padding: 22px 40px;
    border-color: #fff;
    color: white;
    border: 2px solid;
    border-radius: 0px;
    font-family: var(--fuenteBotones);
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
.botondescargainfografia:hover{ /*Solo pondremos las propiedades que varían cuando ponemos el raton encima del boton*/
    background-color:white;
    color:var(--colorPrimario);
    border-color: var(--colorPrimario);
}

/* ESTILO DE LA PARTE DERECHA DE LAS INFOGRAFIAS*/
.paraQuienDerecha{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    padding-top: 60px;
}
.paraQuienDerSuperior{
    background-color: var(--colorPrimario);
    padding: 60px 30px;
}
.paraQuienDerSuperior h5{
    font-family: var(--fuentePrincipal);
    font-size: 2.7rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
}
.paraQuienDerSuperior .destacarAzul span{
    color:#02052F;
}
.paraQuienDerSuperior span{
    color:black;
}
.paraQuienDerInferior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    margin-right: 40px;
 
}
.paraQuienDerInferior .texto{
    background-color: black;
    color: white;
    max-width: 250px;
    padding: 40px 30px;
    text-transform: uppercase;
    text-align: left;
    font-family: var(--fuentePrincipal);
}
.paraQuienDerInferior h4 span{
    color:var(--colorPrimario)
}
.paraQuienDerInferior .imagen{
    margin-top: 10px;
    height: 40px;
    width: 40px;
}

/* ESTILO LOCALIZACIONES*/
.localizaciones{
    background-color: black;
    color: #fff;
    padding: 100px 0px;
}
.direcciones{
    /* display: flex;
    justify-content: left; */
    display:grid;
    grid:1fr/repeat(4,1fr);
}
.direcciones div{
    /* max-width: 25%; */
    padding: 24px 0px;
    color: white;
    margin: 0;
}
.localizaciones h2{
    color: white;
    font-size: 2.7rem;
    font-weight: 700px;
    font-family: var(--fuentePrincipal);
    margin-bottom: 40px;
    text-transform: uppercase;
}
@media(max-width:1140px){
    .direcciones div{
    width: 50%;
    }
}
@media(max-width:768px){
    .localizaciones .contenedor {
    flex-wrap: wrap;
    }
    .localizaciones .contenedor div{
        width: 100%;
    }
}

/*ESTILO DE LOS CONTACTOS*/
.contactos{
    background-color: var(--colorPrimario);
    padding: 90px 0px 60px;
}
.contactos h3{
    color:white;
    text-transform: uppercase;
    text-align: left;
    font-family: var(--fuentePrincipal);
    font-weight: 300;
    font-size: 1.7rem;
    margin-bottom: 22px;
    line-height: 1.2;
}
.contactos h2{
    color:white;
    text-transform: uppercase;
    text-align: left;
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 1.2;
}
.informacion{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #02052F;
    font-weight: 700;   
}
.informacion a{
    color: var(--colorPrimario);
    font-size: 1.4rem;
    text-decoration: none;
}

.informacion a:hover{
    text-decoration: underline;
}

.tlf{
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    max-width: 50%;
    padding:20px;
    margin-right: 15px;
    text-transform: uppercase;
}
.email{
    background-color: #fff;
    border-radius: 0.55rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    max-width: 50%;
    padding:20px;
    margin-left: 15px;
    text-transform: uppercase;
}
.informacion img{
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
@media(max-width:1140px){
    .informacion{
        flex-direction: column;
        justify-content: center;
        
    }
    .informacion div{
        max-width: 100%;
        margin: 10px 0px;
    }
}
@media (max-width:768px){    
    .informacion a{
        font-size: 1.2rem;
    }
}
/*ESTILOS footer*/
.seccionFooter{
    display:flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.enlacesFooter{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.enlacesFooter a{
    font-family: var(--fuentePrincipal);
    color:#02052F;
    font-size: 1.7rem;
    font-weight: 800;
    margin-right:80px;
    line-height: 1.2;
    text-transform: uppercase;
}

.paginasLegales{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.paginasLegales a{
    font-family: var(--fuentePrincipal);
    color:#02052F;
    font-size: 1.7rem;
    margin-right:80px;
    line-height: 1.2;

}

@media (max-width:768px){
    .enlacesFooter{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .enlacesFooter a{
        flex:1;
        margin-bottom: 10px;
    }
    .paginasLegales {
        display: grid;
        grid:1fr 1fr/1fr 1fr;
        gap: 15px;
    }
}
@media(max-width:1140px){
    /* .paginasLegales{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
    } */
    .paginasLegales a{
        flex:1;
        margin-right: 25px;
    }
}

/* ESTILOS HEADER  */

.seccionHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.seccionEnlaces {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}
.seccionLogin{
    display: flex;
    justify-content: flex-end;
}

.seccionLogin a{
    color: var(--colorPrimario);
    font-family: var(--fuentePrincipal);
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.7rem;
}

.seccionLogin a:hover{
    text-decoration: underline;
}


.seccionNav a{
    color:#02052F;
    font-family: var(--fuentePrincipal);
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.7rem;
    display: inline-block;
}

.seccionNav a:hover{
    text-decoration: underline;
}

.botonInformate{
    background-color: var(--colorPrimario);
    padding: 0.6rem 1.5rem;
    border-radius: 4rem;
    color: white !important;
}

.botonInformate:hover{
    background-color:#02052F;
    text-decoration: none !important;
}

.seccionImagen{
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 45%;
}
.seccionImagen img{
    max-width: 100%;
}

@media (max-width:768px){
    .seccionHeader{
        flex-direction: column;
    }
    .seccionImagen, .seccionEnlaces{
        max-width: 100%;
        align-items: center;
    }
}