:root{
    --colorPrimario: rgb(247 102 102);
    --colorSecundario: rgba(248, 102, 102, 0.65);
    --fuentePrincipal: 'Open Sans', sans-serif;
    --fuenteBotones: "DinBold", sans-serif;


}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;

    /* Con este código, te permite conseguir 10px=1rem */
     font-family: var(--fuentePrincipal);
}
/*
h1{
    color:white;
    font-size: 4.5rem;
    background-color:var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    padding: 35px;
    font-size: 47px;
    margin-top: 0;
    box-sizing: border-box;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    line-height: 1.2;
    text-align: left;
    border-style: double;
    
}
.vercursos{
    color: #fff;
    background-color: black;
    border: 2rem solid #000;
    border-radius: 0rem;
    font-family: var(--fuenteBotones);
    min-height: 5.0rem;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 2.4rem, 9.4rem;
    text-decoration: none;
    display: inline-block;
}

.login{

    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--colorPrimario);
    margin-left: 80rem;
}
[src="img/Tu-carrera-digital-general.png"]{
 margin-top: 10rem;
 margin-right: 93rem;
 text-align: center;   
}

.Logos{
    text-align: center;
}

.Cursos h3{
    text-align: center;
    color:var(--colorPrimario);
    font-size: 1.7rem;
    font-family: var(--fuentePrincipal)
}
.Cursos{
    text-align: center;
}

.imagenCarrera{
    margin-left: 50rem;
}
.Formulario{
    margin:2rem
} */
.contenedor{
    max-width: 75%;
    margin: 0 auto;
}
/*ESTILOS PARA EL MAIN*/
.fondoMain{
    background-image: url(../img/11641893944_banner_zona_centro.png);
    background-size: cover;
    background-position: top left;
    padding: 80px 0 180px 0;
}
.margenDerecho{
    margin-right: 45%;
}

h1{
    background-color: var(--colorSecundario);
    font-family: sans-serif;
    font-weight: 800;
    font-size: 4.5rem;
    margin-bottom: 10px;
    padding: 35px;
    color: white
}

.fondoMain a{
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 24px 94px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuenteBotones);
    font-weight: 700;
    font-size: 1.4rem;
}
/*Hemos hecho un contenedor con la imagen y el enlace, lo hemos alineado con flex, que por default lo hace en row, y luego le hemos dicho que le de un espacio entre medias*/
.flexMain{
    display:flex;
    flex-direction: row;/*Por defecto ya es row*/
    justify-content: space-between;
}
/*ESTILO DE LOS LOGOS*/
.logos{
    background-color: white;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: -90px;
    border-radius: 12px;
    padding: 20px;
}

/*ESTILO CURSOS*/

.cambiaFuturo h3{
    text-align: center;
    color: var(--colorPrimario);
    font-weight: 800;
    font-family: var(--fuentePrincipal);
    font-size: 1.7rem;
    margin: 40px 0px
}
.cambiaFuturo h2{
    text-align: center;
    font-weight: 800;
    font-size: 2.7rem;
    text-transform: uppercase;
    color: #02052F;
    font-family: var(--fuentePrincipal);
    margin-bottom: 72px;

}
.alinearCentro {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 105px; 
}
.verTodo{
    background-color: var(--colorPrimario);
    border: 1px solid var(--colorPrimario);
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 0.5rem;
    padding: 12px 24px;
}
.Madrid{
    border: 1px solid var(--colorPrimario);
    background-color: white;
    color:#02052F;
    padding: 12px 24px;
    font-size: 1.4rem;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    margin-left: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;  
}
.cursosOfertados{
    margin-bottom: 120px;
    display: flex;
}
.cursosOfertados>div{
    flex: 2;
    max-width: 50%;
    background-position: right !important;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;/*Le estamos dando una altura minima, si tenemos mas espacio, cogerá más, pero sino, no bajará*/
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.cursosOfertados h2{
    color:white;
    font-family: var(--fuentePrincipal);
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;    
}
.cursosOfertados a{
    color:var(--colorPrimario);
    font-size: 1.4rem;
    font-family: var(--fuenteBotones);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid white;
    padding: 20px 60px;
    display: inline-block;
}
.cursosOfertados a:hover{
    background-color: var(--colorPrimario);
    color: white;
}
.marketing{
    background-image: url(../img/Curso-marketing-digital-centro.png);
    margin-right: 15px;  

}
.programacion{
    background-image: url(../img/Curso-programacion-videojuegos-centro.png);
    margin-left: 15px;
}
/* ESTILO Acceso rápido a cuestionario*/
.info{
    /* text-align: center; No es bueno poner esto aquí, porque a un contenedor, le estamos dando una propiedad de un texto */
    padding-bottom: 150px;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    padding-right: 15px;
    padding-left: 15px;
}
.info h3{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;
    color: #02052F;
    line-height: 1.2;
    margin:17px;

}
.info a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--colorPrimario);
    color: white;
    padding: 20px 40px;
    border-radius: 96px;
    margin: 20px;
    box-sizing: border-box;
    line-height: 1.5;
}
.info a:hover{ /*Solo pondremos las propiedades que varían cuando ponemos el raton encima del boton*/
    background-color:#02052F;
    text-decoration: underline;
}
.info{
    display: flex;
    flex-direction: column;
    Justify-content: center;
    align-items: center;
}
/*ESTILO VIDEO*/
.video{
    display:flex;
    justify-content: center;
    margin-bottom: 70px;
    
}
.enlaceVideo{
    padding-right: 15px;
    padding-left: 15px;
    
}
 /*ESTILO DE SECCION ESCRITA, INFOGRAFÍA E IMAGEN INFORMATIVA*/

.contenedorInfografia{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    color:#02052F;
    font-family: var(--fuentePrincipal);
    margin-bottom:100px;
    display: flex;
    justify-content: space-between;
    
}
.contenedorInfografia h3{
    color:var(--colorPrimario);
    text-align: left;
    font-size: 1.7rem;
    margin-bottom: 22px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
}
.contenedorInfografia h2{
    color:#02052F;
    /* text-align: left; */
    font-size: 2.7rem;
    margin-bottom: 22px;
    font-weight: 800;
    line-height: 1.2;
}
.infoescrita{
    font-size: 1.4rem;
    margin-bottom: 25px;
    font-weight: 400;
}
.contenedorInfografia h4{
    width: 80%;
    margin-bottom: 10px;
    font-size: 1.5rem;
    margin-bottom: 22px;
    line-height: 1.8;
    font-weight: 800;
    text-transform: uppercase;
}
.contenedorInfografia a{
    color:var(--colorPrimario);
    text-transform: uppercase;
}
.garantiajuvenillink{
    display:flex;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 50px;
    display: block;
    text-decoration: underline;
}