:root{
   --colorNegro:#1e1f22;
   --colorDorado: #dac687;
   --colorOcre: #924225;
   --colorBlanco: #ede2da;
   --fuentePrincipal:'Cinzel Decorative', serif;
   --fuenteSecundaria: 'Raleway', sans-serif;

/*Buscar fuentes que nos gusten*/
}

body{
    background-color: var(--colorBlanco);
}

.contenedor {
    max-width: 75%;
    margin: 0 auto;
}

/* h1{
    background-color: #1e42ae;
    color: black;
    font-family: var(--fuentePrincipal);

}

.h2{
    color: aqua;
} */


/*ESTILO DEL NAVEGADOR-HEADER*/

.navegador{
    
    background-color: #1e1f22;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    /* margin-top: 40px; */
    margin-bottom: 80px;
}

.carta {
    display: flex;
    gap: 100px;
    align-items: center;
}

.carta a{
    color: var(--colorBlanco);
    font-family: var(--fuentePrincipal);
    text-decoration: none;
}

.navegador img {
    height: 120px;
    width: 120px;
}

.horario{
    display: flex;
    gap: 100px;
    align-items: center;
   
}

.horario a{
    font-family: var(--fuentePrincipal);
    color: var(--colorBlanco);
    text-decoration: none;
}


/* ESTILO DEL CARROUSEL DE IMAGENES ¡¡MAIN!! */
/* .carrousel {
    width: 500px;
    overflow: hidden;
    height: 500px;
    
}

.carrousel img {
    display: none;
    width: 500px;
    height: 500px;
}

.carrousel img:first-child {
    display: block;
} */


/*ESTILO  APARTADO RESEÑAS*/
.resenas{
    display:grid;
    grid: repeat(4,1fr)/1fr;
}
.resena1{
    display: grid; 
    grid:1fr/repeat(4,1fr);
    margin: 20px;
    
}
.resena1 h2{
    grid-column: 2/5;
    display:flex;
    justify-content: left;
    padding-left: 20px;
    align-items: center;
}
.imgresena1{
    background-image: url(../img/face-review.jpeg);
    background-size:cover;
    border-radius: 80%;
    height: 250px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    
}
.imgresena2{
    background-image: url(../img/face-review1.jpeg);
    background-size:cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
}

.imgresena3{
    background-image: url(../img/face-review2.jpeg);
    background-size:cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;

}

.imgresena4{
    background-image: url(../img/face-review3.jpeg);
    background-size:cover;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
}

/* ESTILO RRSS Y CONTACTOS */
    /* ESTILO DE LA BARRA SUPERIOR DEL CONTENEDOR */ 
.rrss{
    border-top: 5px ridge var(--colorOcre);
    height: 100px;

}
    /* DIVISION DEL CONTENEDOR PARA POSTERIORMENTE PONER LOS APARTADOS */
.contenedorRRSS{
    display: grid;
    grid: repeat(4,1fr)/repeat(2,1fr);
}
    /* COLOCACION DE EL APARTADO DE CONTACTO */
.contenedorRRSS h2{
    font-family: var(--fuenteSecundaria);
    color:var(--colorNegro); 
    text-transform: uppercase;
}
.contenedorRRSS>a{
    color:var(--colorNegro);
    text-decoration: none;
}
.tlf1{
    grid-row: 2/5;
    grid-column: 1/2;
}
.tlf2{
    grid-row: 3/5;
    grid-column: 1/2;
}
.tlf3{
    grid-row: 4/5;
    grid-column: 1/2;
}
    /* COLOCACION DEL APARTADO DE RRSS Y ESTILO*/
.contenedorRRSS h3{
    display: flex;
    justify-content: right;
    align-items: center;
    grid-column: 2/2;
    grid-row: 1/2;
    padding-right: 77px;
    font-size: 24px;
    color:var(--colorNegro);
    font-family: var(--fuenteSecundaria);
    text-transform: uppercase;
}
    /* COLOCACIÓN DE LOS ICONOS DE LAS RRSS */
.iconos{
    display: flex;
    justify-content: right;
    align-items: center;
    grid-row: 2/2;
    grid-column: 2/2;
}
        /* ESTILO DE LOS ICONOS */
.iconos a{
    color: var(--colorNegro);
    padding:10px
}