:root{
   --colorNegro:#1e1f22;
   --colorDorado: #dac687;
   --colorOcre: #924225;
   --colorBlanco: #ede2da;
   --fuentePrincipal:'Cinzel Decorative', serif;
/*Buscar fuentes que nos gusten*/

}

body{
    background-color: var(--colorBlanco);
}

h1{
    background-color: #1e42ae;
    color: black;
    font-family: var(--fuentePrincipal);

}

.h2{
    color: aqua;
}















/*ESTILO  APARTADO RESEÑAS ¡¡¡PRUEBA!!*/
.resenas>img{
    max-height: 500px;
}